<!DOCTYPE html>
<html lang="zh-CN">
  <%- include('./components/head.ejs') %>

  <body>
    <%- include('./components/navbar.ejs') %>

    <div class="container my-5">
      <h1>Welcome</h1>
    </div>

    <%- include('./components/foot.ejs') %>
  </body>
</html>
